workflow_jsons/Discord slash commands using cloudflare.json
{
  "name": "Discord slash commands using cloudflare",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "joke_bot",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        1184,
        368
      ],
      "id": "75d3663e-bd6e-47d3-9342-ed3a77d7ffce",
      "name": "Webhook",
      "webhookId": "f9599945-0b40-424b-8284-ee8a3e2fedfe"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.data.options[0].value }}",
        "options": {
          "systemMessage": "you're a joke bot for discord, you reply with a joke only based on user prompt. add no extra information rather than the joke"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1392,
        368
      ],
      "id": "18935768-8be0-46bd-951a-abafe57ba589",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "nvidia/nemotron-nano-9b-v2:free",
          "mode": "list",
          "cachedResultName": "nvidia/nemotron-nano-9b-v2:free"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        1264,
        576
      ],
      "id": "ce19839a-aa91-49f1-94c6-defacda176cd",
      "name": "OpenAI Chat Model"
    },
    {
      "parameters": {
        "jsCode": "\nfor (const item of $input.all()) {\n  const text = item.json.output; // your joke string\n\n  // Replace backslashes first to avoid double-escaping them\n  let escaped = text.replace(/\\\\/g, '\\\\\\\\');\n\n  // Then escape double quotes\n  escaped = escaped.replace(/\"/g, '\\\\\"');\n\n  item.json.escapedContent = escaped;\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1744,
        368
      ],
      "id": "6c4cc4b2-2c94-4fdc-ab99-cfbd18c7101b",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://discord.com/api/v10/webhooks/{{\n$('Webhook').item.json.body.application_id\n}}/{{\n$('Webhook').item.json.body.token\n}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "content",
              "value": "={{ $json.escapedContent }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1952,
        368
      ],
      "id": "9d155d3e-86c0-4af9-9eac-45bcb66c472a",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "content": "## Discord Slash Commands using Cloudflare [semi complex]\nSlash commands requires to hit an interactive endpoint quickly, as this workflow was made on n8n cloud, so there are specific endpoints to catch the request from discord as\nslash commands do not work like normal messages. To handle this cloudflare workers can expose an endpoint, discord hits that endpoint then redirects to the n8n cloud, I've a code set to cloudflare worker node to handle the request.\n",
        "height": 528,
        "width": 1248
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1008,
        176
      ],
      "typeVersion": 1,
      "id": "f7aa91eb-9770-441b-8e2c-863b708d650c",
      "name": "Sticky Note"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "70e5258a-75cd-4bf3-b575-898796ccd2e9",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6d49bf171842f03ac44f0a8ad811c6d5c6bf09c6c974811619c1aa632b6c98ca"
  },
  "nodeGroups": [],
  "id": "BR2n9DtgMQ7t8LAq",
  "tags": []
}