workflow_jsons/fLMKKKSbyXT9THSU-LinkedIn_scraping_profiles_jobs_.json
{
  "name": "LinkedIn scraping [profiles + jobs]",
  "nodes": [
    {
      "parameters": {
        "options": {
          "responseMode": "responseNodes"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -208,
        -128
      ],
      "id": "7ba29960-e2ca-4ab7-96fd-3cc012f73087",
      "name": "When chat message received",
      "webhookId": "2761b02b-0715-46b6-9923-315db76e5932"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8dc37e2c-5c90-4158-9f2b-4438137bf0a8",
              "name": "mode",
              "value": "jobs",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        16,
        -128
      ],
      "id": "e503664a-0772-4f64-86ea-de4e229de70f",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "f17fe72f-4d96-477c-81d4-370d255e3452",
              "leftValue": "={{ $json.mode }}",
              "rightValue": "jobs",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        240,
        -128
      ],
      "id": "a5b86caa-39f6-4957-bf71-1c7e069642d0",
      "name": "If"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4aa1cf19-2830-48ce-8657-0daf7e56bfbe",
              "name": "prompt",
              "value": "You are an expert in Boolean search techniques for Google. When the user sends a job description (user prompt), generate a search string specifically for finding LinkedIn job posts that match that description. Your response must always follow this exact format: site:linkedin.com/jobs [Boolean search string]  Create the Boolean search string using precise operators (AND, OR, \"\", *, -) to match the job requirements. Focus only on generating the search string - provide no additional commentary or explanations unless specifically requested. Also return sheet_name (less than 100 char) as a separate attribute in the provided format",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        464,
        -256
      ],
      "id": "a9257fd0-a877-4143-94d3-0a0fd9a647da",
      "name": "Set Jobs Prompt"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3424430e-3b13-481d-ab38-c5cbc250b12f",
              "name": "prompt",
              "value": "You are an expert in Boolean search techniques for Google. When the user sends a job description (user prompt), generate a search string specifically for finding LinkedIn job profiles that match that description. Your response must always follow this exact format: site:linkedin.com/in [Boolean search string]  Create the Boolean search string using precise operators (AND, OR, \"\", *, -) to match the job requirements. Focus only on generating the search string - provide no additional commentary or explanations unless specifically requested. Also return sheet_name (less than 100 char)",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        464,
        -64
      ],
      "id": "3b106940-6ca8-49f8-9ea8-cffc35625ba7",
      "name": "Set Profiles Prompt"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-5-mini",
          "mode": "list",
          "cachedResultName": "GPT-5-MINI"
        },
        "responses": {
          "values": [
            {
              "content": "={{ $('When chat message received').item.json.chatInput }}"
            },
            {
              "role": "system",
              "content": "={{ $json.prompt }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.3,
      "position": [
        688,
        -128
      ],
      "id": "50f98fe3-9a9d-4263-b364-a9a15c6aab09",
      "name": "Message a model",
      "credentials": {
        "openAiApi": {
          "id": "NBQP2E90vnRikPhD",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "operation": "create",
        "documentId": {
          "__rl": true,
          "value": "1MZQqrWM6pJqJi9dVeBfahHavAnFP9NQAQvJRZbFxHvw",
          "mode": "list",
          "cachedResultName": "scrapes",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1MZQqrWM6pJqJi9dVeBfahHavAnFP9NQAQvJRZbFxHvw/edit?usp=drivesdk"
        },
        "title": "=\n{{ \n$json.output[0].content[0].text.split('\\n').at($json.output[0].content[0].text.split('\\n').length - 1).split(\":\").at(1).trimStart()\n}}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1040,
        -128
      ],
      "id": "66ee3466-1f7e-4c36-b720-92954a2183af",
      "name": "Create sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "QnnIFaWDgCcUF58q",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "\nreturn [{\n  json: {\n    \"linkedin_url\": \"\"\n  }\n}];\n\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1264,
        -128
      ],
      "id": "596f1338-0d33-4b80-975e-3748bc66ac68",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1MZQqrWM6pJqJi9dVeBfahHavAnFP9NQAQvJRZbFxHvw",
          "mode": "list",
          "cachedResultName": "scrapes",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1MZQqrWM6pJqJi9dVeBfahHavAnFP9NQAQvJRZbFxHvw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $('Create sheet').item.json.sheetId }}",
          "mode": "id"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "linkedin_url": "="
          },
          "matchingColumns": [
            "linkedin_url"
          ],
          "schema": [
            {
              "id": "linkedin_url",
              "displayName": "linkedin_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1488,
        -128
      ],
      "id": "b297f590-1921-4d8e-b81d-459d9623524b",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "QnnIFaWDgCcUF58q",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { start: 0 } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1712,
        -128
      ],
      "id": "5053acf9-b698-49f7-895b-0b09bf569949",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "28f6945d-9e0e-453b-a0d8-370f7694bb2a",
              "leftValue": "={{ $json.start }}",
              "rightValue": 15,
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1936,
        -128
      ],
      "id": "9e24be87-d4a1-4bca-bd49-c5bda603d091",
      "name": "If1"
    },
    {
      "parameters": {
        "message": "Completed",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chat",
      "typeVersion": 1.3,
      "position": [
        2160,
        -128
      ],
      "id": "724a1fb4-edd6-4b5f-a020-16e9b3d88112",
      "name": "Chat",
      "webhookId": "9136ae71-b8b4-49bc-8b3a-34dd3e0565b2"
    },
    {
      "parameters": {
        "url": "https://serpapi.com/search?engine=google",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "api_key",
              "value": "8587a1a845b1eb9848c6c9126b7f090c0ba386453f290b6e6465cbe6c1b244c4"
            },
            {
              "name": "q",
              "value": "={{ $('Message a model').item.json.output[0].content[0].text }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2160,
        -320
      ],
      "id": "053d30bf-65d9-42f4-a28e-a11817bb5c50",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "jsCode": "// Get all items from the first input element\nconst items = $input.first().json.organic_results\n\n// Map through and return only the \"link\" values\nconst links = items.map(item => item.link);\n\n// Return as individual output items for n8n\nreturn links.map(link => ({ json: { link } }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2384,
        -320
      ],
      "id": "dd3b910e-73f2-4ba2-b7b4-1e18858fe1f6",
      "name": "Code in JavaScript2"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1MZQqrWM6pJqJi9dVeBfahHavAnFP9NQAQvJRZbFxHvw",
          "mode": "list",
          "cachedResultName": "scrapes",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1MZQqrWM6pJqJi9dVeBfahHavAnFP9NQAQvJRZbFxHvw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $('Create sheet').item.json.sheetId }}",
          "mode": "id"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "linkedin_url": "={{ $json.link }}"
          },
          "matchingColumns": [
            "linkedin_url"
          ],
          "schema": [
            {
              "id": "linkedin_url",
              "displayName": "linkedin_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2608,
        -320
      ],
      "id": "b69833bc-b5d2-43dc-b8f2-309c6ea9e6fe",
      "name": "Append row in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "QnnIFaWDgCcUF58q",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "linkedin_url"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        2832,
        -320
      ],
      "id": "dd2136ba-7edc-4460-8d7b-aa64d16d7ac7",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "jsCode": "// Get the start value from 'Edit Fields2' node\nconst startValue = $('If1').first().json.start;\n\n// Add 10 to the start value\nconst start = startValue + 10;\n\n// Return the new value\nreturn { json: { start } };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3056,
        -320
      ],
      "id": "5e27b4ba-f714-4d69-9449-dff888da2717",
      "name": "Code in JavaScript3"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        3280,
        -160
      ],
      "id": "b73638ce-59cc-48e0-b9be-6a51df57e294",
      "name": "Wait",
      "webhookId": "1ebf6ab2-ee58-414e-939c-2ef18b51dc6b"
    },
    {
      "parameters": {
        "authentication": "predefinedCredentialType",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        328.9887640449438,
        0
      ],
      "id": "ccc59037-9c0b-4073-a2b0-bf897c6c85d0",
      "name": "HTTP Request1"
    }
  ],
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Set Jobs Prompt",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Profiles Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Jobs Prompt": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Profiles Prompt": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Create sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create sheet": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "Append row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet1": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Code in JavaScript3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript3": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "staticData": null,
  "pinData": {},
  "triggerCount": 0,
  "meta": {
    "templateCredsSetupCompleted": true
  }
}