workflow_jsons/HTIl [gmail].json
{
  "name": "HTIl [gmail]",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {
          "readStatus": "unread"
        }
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.4,
      "position": [
        3776,
        2240
      ],
      "id": "4183fc8c-c991-4b62-a0ab-7f92adc28f15",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "IjqKwzyrsHc0IAeF",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "html": "={{ $json.snippet }}",
        "options": {}
      },
      "type": "n8n-nodes-base.markdown",
      "typeVersion": 1,
      "position": [
        4000,
        2240
      ],
      "id": "6a5d7e83-96d9-4ae5-a90b-39fa8b6ed2c9",
      "name": "Markdown"
    },
    {
      "parameters": {
        "operationMode": "nodeInputBinary",
        "options": {
          "summarizationMethodAndPrompts": {
            "values": {
              "combineMapPrompt": "=Write a concise summary of the following in max 100 words:\n\n {{ $json.snippet }}\n\nDo not enter the total number of words used.",
              "prompt": "=Write a concise summary of the following in max 100 words:\n\n{{ $json.snippet }}\n\nDo not enter the total number of words used."
            }
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainSummarization",
      "typeVersion": 2.1,
      "position": [
        4224,
        2240
      ],
      "id": "166ba371-cff2-47a5-a997-3925cb97b43e",
      "name": "Summarization Chain"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "nvidia/nemotron-nano-9b-v2:free",
          "mode": "list",
          "cachedResultName": "nvidia/nemotron-nano-9b-v2:free"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        4496,
        2464
      ],
      "id": "f2013929-0128-4f7f-adea-78c8f52a11c4",
      "name": "OpenAI Chat Model"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Summarization Chain').item.json.output.text }}",
        "options": {
          "systemMessage": "You are an expert at answering emails. You need to answer professionally based on the information you have. This is a business email. Be concise and never exceed 100 words. Write only the body of the email, do not create the subject.\n\nThe output must be in HTML format and you can insert only HTML characters such as <br>, <b>, <i>, <p> where necessary and appropriate.\n\nWrite the text to reply to the email in the prompt.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        4800,
        2240
      ],
      "id": "997a6ecd-43e0-4fa9-9398-d5adff701a06",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "sendTo": "ridwanurrahman17@gmail.com",
        "subject": "=[Approval Required]  {{ $('Markdown').item.json.Subject }}",
        "message": "=Original Email\n---------------------------------------\n\n {{ $('Gmail Trigger').item.json.snippet }}\n\nAI Reply\n--------------------------------------\n{{ $json.output }}",
        "approvalOptions": {
          "values": {
            "approvalType": "double"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        5152,
        2160
      ],
      "id": "0cccc0aa-5ce6-46cc-a1b9-83c5cf2b2592",
      "name": "Send message and wait for response",
      "webhookId": "30b5805e-c9d6-40f7-9a2e-7576d938a420",
      "credentials": {
        "gmailOAuth2": {
          "id": "IjqKwzyrsHc0IAeF",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "b615e671-01dd-4fdc-8074-30ebaa35b3e3",
              "leftValue": "={{ $json.data.approved }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        5376,
        2240
      ],
      "id": "4750e96a-e271-486e-868a-4b69e133617d",
      "name": "If"
    },
    {
      "parameters": {
        "sendTo": "={{ $('Gmail Trigger').item.json.To }}",
        "subject": "=Re: {{ $('Gmail Trigger').item.json.Subject }}",
        "message": "={{ $('AI Agent').item.json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        5600,
        2240
      ],
      "id": "103de3db-bdc3-4574-a271-2d9c9748dc5d",
      "name": "Send a message",
      "webhookId": "0f236f81-6435-4a67-ae44-30154a573db4",
      "credentials": {
        "gmailOAuth2": {
          "id": "IjqKwzyrsHc0IAeF",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ffff7e3c-a84d-47f5-85dd-84977ca456f2",
              "name": "",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4576,
        2240
      ],
      "id": "a58f92a6-a3ad-4fcc-b85a-d9a98cb8156d",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "content": "## Human in the loop (gmail)\nFetches each minutes unread emails, summarizes them and sends for verification to a human, if human approves it sends a business category reply (more professional) to the sender, This workflow makes it easier for personal email management",
        "height": 624,
        "width": 2096
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3712,
        2016
      ],
      "typeVersion": 1,
      "id": "e13d2f62-9e75-477e-8788-222557a4a026",
      "name": "Sticky Note"
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Markdown",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Markdown": {
      "main": [
        [
          {
            "node": "Summarization Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Summarization Chain",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Summarization Chain": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send message and wait for response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send message and wait for response": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "d9425e25-9166-4758-8435-6e502dfe44f8",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6d49bf171842f03ac44f0a8ad811c6d5c6bf09c6c974811619c1aa632b6c98ca"
  },
  "nodeGroups": [],
  "id": "BR2n9DtgMQ7t8LAq",
  "tags": []
}