workflow_jsons/telegram - bulk subflows - project.json
{
  "name": "telegram - bulk subflows - project",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.3,
      "position": [
        -688,
        352
      ],
      "id": "0b30c90f-4ec5-48f5-a5de-ba776423d916",
      "name": "Telegram Trigger",
      "webhookId": "dc901bf2-fa59-4886-a974-37470d171df6",
      "credentials": {
        "telegramApi": {
          "id": "V9Y7nqerWWFOzKcg",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.voice.mime_type }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "id": "1f4b677d-b67b-4861-9dbc-6372b82f0ee5"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "audio"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "69ae5952-8209-484d-8e38-7a5114e96031",
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "text"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -240,
        256
      ],
      "id": "b20ec606-1f31-479c-bc03-deba07a6b976",
      "name": "Switch"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text || $json.content.parts[0].text}}",
        "options": {
          "systemMessage": "# Role\nYou are an assistant with access to multiple tools.\n\n# Behavior\nYou respond concisely and succinctly in a friendly and approachable style. Generated response should be in a list style where applicable\n\n# Current Date and Time: {{ $now }}\nWe are in 2026. Always use the search_agent_tool tool to get the latest, most current information from 2026.\n\n# Tools\nYou have access to multiple tools and always use the appropriate one depending on the task.\n\n## gmail_agent_tool\nUse this tool every time you need to do something with emails. If you send mails you sign every email with \"ridwanurrahman17\" and never use empty placeholders for names. add @gmail.com which is default email provider\nEnsure that emails are well-formatted with a proper body.\n\n## calendar_agent_tool\nUse this tool every time you need to do something with the calendar. Don't use inappropriate markdowns in your response, use plain text\n\n## search_agent_tool\nALWAYS use this tool to search for current information, news, facts, and real-time data. This tool search using serpAPI. You MUST use this tool for any question about current events, news, or information that changes over time.\n\n## x_agent_tool\nuse this tool for x (twitter) related stuffs i.e creating posts\n\n## contacts_agent_tool\nyou've access to this agent to work on contact related tasks i.e saving/getting information"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        752,
        256
      ],
      "id": "a035ca8a-c928-4f0f-944f-c0a37175cd2e",
      "name": "AI Agent",
      "executeOnce": false
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8b104759-9f72-4d92-81f8-52bb72df40af",
              "name": "text",
              "value": "={{ $json.message.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        352
      ],
      "id": "022e9d7e-3045-48f0-a713-0cef344d662b",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.message.voice.file_id }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -16,
        160
      ],
      "id": "5c9399f6-96cb-478a-b857-9b854c237120",
      "name": "Get a file",
      "webhookId": "32198fda-a58a-4419-8550-3fd23c38cd96",
      "credentials": {
        "telegramApi": {
          "id": "V9Y7nqerWWFOzKcg",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-3.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-3.5-flash"
        },
        "inputType": "binary",
        "options": {}
      },
      "id": "1ad762b2-e6ee-425e-a6ac-5e7975762204",
      "name": "Transcribe a recording",
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.2,
      "position": [
        208,
        160
      ],
      "credentials": {
        "googlePalmApi": {
          "id": "LujZKhCsiZWbnXUM",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram Trigger').item.json.message.chat.id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.4,
      "position": [
        496,
        480
      ],
      "id": "d1bc6632-00ae-445e-986b-3139f4eaa976",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output.replaceAll(\"*\", \"\") }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1552,
        384
      ],
      "id": "19e0e1ed-ed3d-4225-9cb7-3ae3bb01a0d4",
      "name": "Send a text message",
      "webhookId": "7a34d903-de65-4530-97b9-5b28210b811d",
      "credentials": {
        "telegramApi": {
          "id": "V9Y7nqerWWFOzKcg",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "description": "Use this tool for searching latest information",
        "workflowId": {
          "__rl": true,
          "value": "VNq8T8omR7u2hP0g",
          "mode": "list",
          "cachedResultUrl": "/workflow/VNq8T8omR7u2hP0g",
          "cachedResultName": "search_agent_tool"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [
            "query"
          ],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        656,
        480
      ],
      "id": "28b4fbcf-795e-4b37-b66c-b65a45fe2bab",
      "name": "search_agent_tool"
    },
    {
      "parameters": {
        "description": "use this when you need work with calendar type tasks",
        "workflowId": {
          "__rl": true,
          "value": "MDGw0i5Auq3l3NKR",
          "mode": "list",
          "cachedResultUrl": "/workflow/MDGw0i5Auq3l3NKR",
          "cachedResultName": "calendar_agent_tool"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        832,
        480
      ],
      "id": "91318f1a-3bf0-418b-b97e-8a14ea27fb47",
      "name": "calendar_agent_tool"
    },
    {
      "parameters": {
        "description": "use this tool if you need to do something with emails",
        "workflowId": {
          "__rl": true,
          "value": "TIpaEWKjY756nSrl",
          "mode": "list",
          "cachedResultUrl": "/workflow/TIpaEWKjY756nSrl",
          "cachedResultName": "gmail_agent_tool"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        1008,
        480
      ],
      "id": "7ea34942-eca3-41a2-b73a-76501bf37fe2",
      "name": "gmail_agent_tool"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "openai/gpt-oss-20b:freenbbbn",
          "mode": "id"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        352,
        480
      ],
      "id": "13597f6e-92c6-469c-aa48-42dee7096c11",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "iQ4rZVX3cYXaRVLa",
          "name": "openrouter"
        }
      }
    },
    {
      "parameters": {
        "description": "call this tool when x(twitter) related stuffs are involved",
        "workflowId": {
          "__rl": true,
          "value": "04w08eZIGaUb6lx5",
          "mode": "list",
          "cachedResultUrl": "/workflow/04w08eZIGaUb6lx5",
          "cachedResultName": "x_agent_tool"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        1168,
        480
      ],
      "id": "5cbf266b-3ec6-41c8-8890-0e7a62e7c655",
      "name": "x_agent_tool"
    },
    {
      "parameters": {
        "description": "call this tool when there are contacts related things are involved i.e save/get information",
        "workflowId": {
          "__rl": true,
          "value": "RCm3s5MbRXeczXkp",
          "mode": "list",
          "cachedResultUrl": "/workflow/RCm3s5MbRXeczXkp",
          "cachedResultName": "contacts_agent_tool"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        1344,
        480
      ],
      "id": "7ac9c689-d404-4b07-aae7-eb689b6aef05",
      "name": "contacts_agent_tool"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.output }}",
        "messages": {
          "messageValues": [
            {
              "message": "summarize the whole thing in 2/3 short lines"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        1408,
        0
      ],
      "id": "31225e06-4974-4f21-bbd5-3e171fc82190",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "nvidia/nemotron-3-nano-30b-a3b:free",
          "mode": "list",
          "cachedResultName": "nvidia/nemotron-3-nano-30b-a3b:free"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        1488,
        224
      ],
      "id": "5ed86eda-6852-497b-b44a-24ace62aed78",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "iQ4rZVX3cYXaRVLa",
          "name": "openrouter"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "input": "={{ $json.text }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.3,
      "position": [
        1760,
        112
      ],
      "id": "025ebe44-3ac8-4280-b570-51a92a123734",
      "name": "Generate audio",
      "credentials": {
        "openAiApi": {
          "id": "SRrhvlZyoqlbZysC",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendAudio",
        "chatId": "id",
        "binaryData": true,
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1984,
        112
      ],
      "id": "82cf3364-e11c-479a-8873-05c2843366c6",
      "name": "Send an audio file",
      "webhookId": "ebc48b4a-5046-4436-a325-d11633821afd",
      "credentials": {
        "telegramApi": {
          "id": "V9Y7nqerWWFOzKcg",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "0dfb529a-6d0e-454a-ac0b-d7659247fca6",
              "leftValue": "={{ $json.message.chat.id }}",
              "rightValue": 7692604680,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            },
            {
              "id": "3a92980b-fafe-4e9a-b67b-d83af26ae5f4",
              "leftValue": "={{ $json.message.chat.username }}",
              "rightValue": "Ridwan_jones",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -464,
        352
      ],
      "id": "e08598bb-39bc-47b1-b422-c1e3617c8af6",
      "name": "If"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -240,
        448
      ],
      "id": "8555ed7a-7346-46ef-8af7-e8c6cef230ff",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "content": "## Voice Assisted Telegram Bot\nThis bot gets triggered when it receives a message or voice from the user and take actions immediately such as writing emails, searching latest information to assistant LLM in generating accurate information,\nsetting schedules for urgent meeting/appointments, making post on X, saving/retrieving contacts, more tools and functionalities can be added later. Each LLM assisted tool uses it's own seperate workflows/\nsub-workflows to tidy the workflow. I've made sure each related information stays in it's separate boundary. Prompt engineering was used here in order to help LLM agents to use the right tool at the right time.\nBot sends back response in voice from after completing the command much like Amazon Alexa.",
        "height": 1008,
        "width": 3568
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -864,
        -288
      ],
      "typeVersion": 1,
      "id": "bfd79e1a-294c-4812-8754-acb7ee810f1f",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "",
        "height": 112,
        "width": 166,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        608,
        480
      ],
      "typeVersion": 1,
      "id": "b49170ea-8df3-45de-ad23-f8f28f379ca1",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "content": "",
        "height": 112,
        "width": 182,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        784,
        480
      ],
      "typeVersion": 1,
      "id": "ffef38ac-070a-434f-b87c-29580254ba4e",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "content": "",
        "height": 112,
        "width": 150,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        976,
        480
      ],
      "typeVersion": 1,
      "id": "9c65ae54-6a5b-45d5-8b50-29e9d4728400",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "content": "",
        "height": 112,
        "width": 150,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1136,
        480
      ],
      "typeVersion": 1,
      "id": "a149ac26-3939-4b28-bf54-8069efa5eabb",
      "name": "Sticky Note9"
    },
    {
      "parameters": {
        "content": "",
        "height": 112,
        "width": 182,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1296,
        480
      ],
      "typeVersion": 1,
      "id": "b776b561-9e54-40af-8392-6cc5309b95ac",
      "name": "Sticky Note10"
    },
    {
      "parameters": {
        "content": "## Telegram Bot Main Workflow",
        "height": 688,
        "width": 3392,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -768,
        -48
      ],
      "typeVersion": 1,
      "id": "40da286a-fdc7-41da-a33c-efbe0aa3d71d",
      "name": "Sticky Note11"
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Get a file",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          },
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a file": {
      "main": [
        [
          {
            "node": "Transcribe a recording",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe a recording": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "search_agent_tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "calendar_agent_tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "gmail_agent_tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "x_agent_tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "contacts_agent_tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Generate audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate audio": {
      "main": [
        [
          {
            "node": "Send an audio file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "errorWorkflow": "kPUYH3PWT7ey1qGV",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "a6afba5f-46c1-4769-beb2-4b266fad0539",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6d49bf171842f03ac44f0a8ad811c6d5c6bf09c6c974811619c1aa632b6c98ca"
  },
  "nodeGroups": [],
  "id": "BQCoSXm6DbX3jsoU",
  "tags": []
}