workflow_jsons/YbXWU2mu2gIIDcgy-write_a_blog_post_could_be_any_medium_and_send_it_to_telegram_with_link.json
{
  "name": "write a blog post(could be any medium) and send it to telegram with link",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "02f5ffd5-38b2-452d-bb75-3b213bbc0b9b",
      "name": "Telegram Trigger",
      "webhookId": "869164e2-66ac-492f-8c01-705ae83a9ee7",
      "credentials": {
        "telegramApi": {
          "id": "OlWo7THaHCxgZQd6",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "process the prompt message with each word separated by +"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        224,
        0
      ],
      "id": "8db8b2cf-2777-4571-9519-f2554c312cba",
      "name": "Search query agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "nvidia/nemotron-nano-9b-v2:free",
          "mode": "list",
          "cachedResultName": "nvidia/nemotron-nano-9b-v2:free"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        320,
        240
      ],
      "id": "caef8e9a-a16a-478e-836a-1f1a4c644487",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "mLNhH06bjVyY30mP",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "url": "https://serpapi.com/search?engine=google",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "api_key",
              "value": "8587a1a845b1eb9848c6c9126b7f090c0ba386453f290b6e6465cbe6c1b244c4"
            },
            {
              "name": "q",
              "value": "={{ $json.output }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        576,
        0
      ],
      "id": "f906303a-43fa-463e-a7b7-c1d3e0b6472e",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.related_questions }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "take all the necessary information and write a note on it, output should match with provided structure"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        800,
        0
      ],
      "id": "34d8c78f-9e65-46da-a744-429ca2bbd3cf",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"title\": \"blog title\",\n  \"content\": \"blog content\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        976,
        208
      ],
      "id": "6b6be888-9348-477c-b443-356d22387606",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output.title }}\n------------------------------------------------\n{{ $json.output.content }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1152,
        16
      ],
      "id": "40514f52-bca8-49d5-8a27-a2f6a22db1e9",
      "name": "Send a text message",
      "webhookId": "a307e12f-1ca7-47b2-81d3-54d61b74ad1d",
      "credentials": {
        "telegramApi": {
          "id": "OlWo7THaHCxgZQd6",
          "name": "Telegram account"
        }
      }
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Search query agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Search query agent",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Search query agent": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "staticData": null,
  "pinData": {},
  "triggerCount": 1,
  "meta": {
    "templateCredsSetupCompleted": true
  }
}